.header-container {
    background-color: #FF0000;
    color: #000;
    padding: 10px;
    text-align: center;
    border: 1px solid #9c2929;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
